In [2]:
from IPython.display import display, HTML
display(HTML('<h1>Methods of Pre processing also called Feature Engineering</h1>'))

In [ ]:
# remove outliers using percentile based on price per night for a given apartment/home. 
# You can use suitable upper and lower limits on percentile based on your intuition. 
# Your goal is to come up with new pandas dataframe that doesn't have the outliers present in it.

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('Outliners Newyork.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [7]:
# Pre processsing

# df.isnull().sum()    # multiple columns null

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [20]:
df.describe()
# After seeing the difference, we can see " price and minimum_nights " columns have huge numeric gap 
# THis could lead to intolerance of data predictions , so lets use outliners

df[df.price > df.price.quantile(0.95)]   # these include list of rows for  prices more than required 
df[df.price < df.price.quantile(0.05)]   # these include list of rows for  prices less than required 

min_thresold, max_thresold = df.price.quantile( [0.05, 0.95] )

# Lets filter the both so that we can exclude
df2 = df[  (df.price < max_thresold) & ( df.price > min_thresold ) ]

df2.describe()  # Now prices are in stable position

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.363100e+04,4.363100e+04,43631.000000,43631.000000,43631.000000,43631.000000,43631.000000,35092.000000,43631.000000,43631.000000
mean,1.874542e+07,6.494019e+07,40.729397,-73.952633,128.201187,6.850359,24.227017,1.382010,6.752424,109.439917
std,1.097545e+07,7.726130e+07,0.054071,0.045249,70.515988,20.148614,45.666488,1.690541,31.909715,130.068423
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,41.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.218810e+06,7.362414e+06,40.690500,-73.982890,72.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.932280e+07,2.869966e+07,40.723110,-73.955730,109.000000,2.000000,6.000000,0.720000,1.000000,40.000000
75%,2.878742e+07,1.020121e+08,40.763615,-73.937710,169.000000,5.000000,25.000000,2.040000,2.000000,216.000000
max,3.648724e+07,2.743213e+08,40.911690,-73.712990,353.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [24]:
# Same way lets remove unwanted rows not having adequate values for column minimum_nights
# df2.describe()
min_thresold, max_thresold = df2.minimum_nights.quantile([0.05,0.95])
final_df = df2[( df2.minimum_nights < max_thresold ) & ( df2.minimum_nights > min_thresold )  ]
final_df.describe()   # we got the adequate values

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.849300e+04,2.849300e+04,28493.000000,28493.000000,28493.000000,28493.000000,28493.000000,23799.000000,28493.000000,28493.000000
mean,1.829745e+07,5.736433e+07,40.727228,-73.954078,131.889341,4.433756,23.943635,1.210211,5.062507,93.115783
std,1.090754e+07,7.258824e+07,0.053855,0.041857,70.854335,4.572740,41.937793,1.324634,32.190086,121.054166
min,3.647000e+03,2.571000e+03,40.499790,-74.244420,41.000000,2.000000,0.000000,0.010000,1.000000,0.000000
25%,8.806104e+06,6.032480e+06,40.688800,-73.982330,75.000000,2.000000,1.000000,0.200000,1.000000,0.000000
50%,1.901542e+07,2.353269e+07,40.719570,-73.955500,115.000000,3.000000,6.000000,0.690000,1.000000,22.000000
75%,2.784248e+07,8.011197e+07,40.761730,-73.938540,175.000000,5.000000,26.000000,1.890000,2.000000,174.000000
max,3.648724e+07,2.743213e+08,40.908040,-73.712990,352.000000,29.000000,540.000000,10.860000,327.000000,365.000000

In [25]:
final_df.price.describe()

count    28493.000000
mean       131.889341
std         70.854335
min         41.000000
25%         75.000000
50%        115.000000
75%        175.000000
max        352.000000
Name: price, dtype: float64